PUSHI 25
PUSHI 200
PUSHI 300
START
PUSHI 800
PUSHI 600
opendrawingarea
PUSHG 2
PUSHG 1
PUSHG 0
DRAWCIRCLE
REFRESH
PUSHI 0
PUSHI 300
PUSHI 1
PUSHI 0
pushs "teste"
PUSHG 4
PUSHG 1
PUSHG 2
PUSHG 1
ADD
STOREG 1
PUSHG 2
PUSHG 1
DRAWLINE
PUSHG 2
PUSHG 1
PUSHG 0
DRAWCIRCLE
REFRESH
PUSHG 4
PUSHG 1
PUSHG 2
PUSHG 2
ADD
STOREG 2
PUSHG 2
PUSHG 1
DRAWLINE
PUSHG 2
PUSHG 1
PUSHG 0
DRAWCIRCLE
REFRESH
PUSHG 4
PUSHG 1
PUSHG 2
PUSHG 1
SUB
STOREG 1
PUSHG 2
PUSHG 1
DRAWLINE
PUSHG 2
PUSHG 1
PUSHG 0
DRAWCIRCLE
REFRESH
STOP
