PUSHI 5
PUSHI 60
PUSHI 50
START
PUSHI 800
PUSHI 600
opendrawingarea
PUSHG 2
PUSHG 1
PUSHG 0
DRAWCIRCLE
REFRESH
PUSHI 0
PUSHI 300
PUSHI 1
PUSHI 0
pushs ""
pushs "teste"
PUSHG 4
writei
PUSHG 8
writes
pushs "qual é o numero?\n"
writes
read
atoi
storeg 3
PUSHG 3
writei
pushs "qual é a string?\n"
writes
read
storeg 7
PUSHG 7
writes
pushs "IMPRIMIR O Y QUE DEVE TER 20\n"
writes
PUSHG 3
writei
STOP


	



